.navbar .titolo {
  padding-left: 15px;
  background-color: red;
  color: green;
}

* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titolo {
  border-radius: 20px;
}

body {
  margin-left: 15px;
  margin-right: 15px;
}

.jumbotron {
  height: 100vh;
  width: 100%;
  background-image: url("images/Back.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.jumbotron .hippo {
  position: absolute;
  height: 45%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.jumbotron .hippo img {
  height: 100%;
}

.jumbotron .fish {
  position: absolute;
}

.jumbotron .fish img {
  height: 15%;
  width: 15%;
}

.jumbotron .right img {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}

.jumbotron .left img {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.waves {
  width: 100%;
}

.waves img {
  width: 100%;
}

@-webkit-keyframes move {
  0% {
  }
  100% {
    bottom: 70%;
    right: 70%;
  }
}

@keyframes move {
  0% {
  }
  100% {
    bottom: 70%;
    right: 70%;
  }
}

.footer {
  height: 400px;
  /* Add a hover effect if you want */
  /* Set a specific color for each brand */
  /* Facebook */
}

.footer .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.footer .fa:hover {
  opacity: 0.7;
}

.footer .fa-facebook {
  background: #3B5998;
  color: white;
}

.footer .logo {
  background-color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
}

.footer .container-mappa {
  background-color: salmon;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.footer .mappa {
  border-radius: 20px;
  margin: 10px;
}

.footer .facebook {
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .instagram {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin-bottom: 10px;
}

.footer .contatti {
  background-color: seagreen;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer .textbox {
  width: 70%;
  height: auto;
  margin: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.footer .logo_contatti {
  background-color: lightgreen;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
}

.footer .social {
  background-color: lightskyblue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .align {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 15px;
  height: 100vh;
}

.head {
  border-radius: 20px;
  background-color: #F29100;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descrizione {
  background-color: #A3DBEF;
  border-radius: 20px;
}

.testo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.titolo {
  margin-bottom: 5px;
  margin-top: 15px;
}

.mascotte_title {
  font-size: 40px;
  text-align: center;
}

.mascotte_descrizione {
  text-align: center;
  padding-bottom: 20px;
}

.m_img {
  height: 270px;
  background-color: #A3DBEF;
}

.arguments {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arguments .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arguments .barra {
  background-color: #F29100;
  border-radius: 10px;
  max-height: 15px;
}

.arguments .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 45px;
}

.arguments .container .back {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.arguments .container .back .white {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 65%;
}

.arguments .container .back .orange {
  height: 35%;
  width: 100%;
  border-radius: 10px;
  background-color: orange;
}

.arguments .container .arguments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 64px;
  margin-right: 64px;
}

.arguments .container .arguments .argument {
  min-height: 250px;
  border-radius: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.arguments .container-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.arguments .container-desc .desc-arguments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 64px;
  margin-right: 64px;
}

.arguments .container-desc .desc-arguments .argument {
  min-height: 150px;
  border-radius: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 10px;
  padding: 20px;
  background-color: white;
  color: #000000;
}

.arguments .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments .download .left {
  background-color: #A3DBEF;
  min-width: 44px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 10px;
  height: 75%;
}

.arguments .download .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F29100;
  border-radius: 10px;
  height: 100%;
}

.arguments .download .center .text {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments .download .center .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments .download .right {
  background-color: #A3DBEF;
  min-width: 44px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 10px;
  height: 75%;
}

.mascotte {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mascotte .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mascotte .barra {
  background-color: #F29100;
  border-radius: 10px;
  max-height: 15px;
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}
/*# sourceMappingURL=style.css.map */