@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.navbar .titolo {
  padding-left: 15px;
  background-color: red;
  color: green;
}

* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titolo {
  border-radius: 20px;
}

body {
  margin-left: 15px;
  margin-right: 15px;
}

.jumbotron {
  height: calc(100vh - 15px);
  width: 100%;
  background-image: url("images/Back.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.jumbotron .hippo {
  position: absolute;
  z-index: 1;
  height: 60%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.jumbotron .hippo img {
  height: 100%;
}

.jumbotron .fish {
  background-image: url("images/FishBlue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 5%;
  width: 5%;
  position: absolute;
  overflow: hidden;
}

.waves {
  width: 100%;
}

.waves img {
  width: 100%;
}

@-webkit-keyframes move {
  0% {
  }
  100% {
    bottom: 70%;
    right: 70%;
  }
}

@keyframes move {
  0% {
  }
  100% {
    bottom: 70%;
    right: 70%;
  }
}

.footer {
  height: 530px;
}

.footer .logo {
  background-color: #A3DBEF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
}

.footer .container-mappa {
  background-color: #F29100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .mappa {
  border-radius: 20px;
  margin: 10px;
}

.footer .seconda_colonna {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer .seconda_colonna .primo_riquadro {
  background-color: lightskyblue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
}

.footer .seconda_colonna .primo_riquadro .social-container {
}

.footer .seconda_colonna .primo_riquadro .social-container .social-container {
  width: 400px;
  margin: 35vh auto;
  text-align: center;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons {
  padding: 0;
  list-style: none;
  zoom: 2;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons .fa-facebook {
  left: 25px;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons li {
  display: inline-block;
  position: relative;
  font-size: 1.2em;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons a {
  display: inline-block;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons a:hover:before {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons a:hover .fa-instagram {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  color: #7e43c8;
  background: -webkit-linear-gradient(#7e43c8, #feda80, #4b63d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.footer .seconda_colonna .primo_riquadro .social-container .social-icons a:hover .fa-facebook {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  color: #43609C;
  background: image();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.footer .seconda_colonna .secondo_riquadro {
  background-color: lightgreen;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.footer .terza_colonna {
  background-color: cyan;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .quarta_colonna {
  border-radius: 20px;
  margin-left: 10px;
}

.footer .textbox {
  width: 85%;
  height: auto;
  margin: 10px;
  border-radius: 20px;
}

.footer .logo_contatti {
  background-color: #A3DBEF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .contatti {
  background-color: #F29100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer .align {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 15px;
  height: 100vh;
}

.head {
  border-radius: 20px;
  background-color: #F29100;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descrizione {
  background-color: #A3DBEF;
  border-radius: 20px;
}

.testo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.titolo {
  margin-bottom: 5px;
  margin-top: 15px;
}

.mascotte .mascotte_title {
  font-size: 40px;
  text-align: center;
}

.mascotte .mascotte_descrizione {
  text-align: center;
  padding-bottom: 20px;
}

.mascotte .ippo {
  width: 300px;
  height: 320px;
  border-radius: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #A3DBEF;
}

.mascotte .ippo .m_img {
  width: 250px;
  padding: 30px;
}

.mascotte .ippo .m_img_gufo {
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.mascotte .ippo .m_img_rana {
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.mascotte .testi_mascotte {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mascotte .testi_mascotte .text_ippo {
  width: 300px;
  text-align: justify;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mascotte .testi_mascotte .bottone {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: #F29100;
}

.mascotte .testi_mascotte .bottone .a {
  text-decoration: none;
  font-weight: bold;
}

.mascotte .testi_mascotte .bottone a:hover {
  color: #0080FF;
}

.arguments {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arguments .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arguments .barra {
  background-color: #F29100;
  border-radius: 10px;
  max-height: 15px;
}

.arguments .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.arguments .container .back {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.arguments .container .back .white {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 65%;
}

.arguments .container .back .orange {
  height: 35%;
  width: 100%;
  border-radius: 10px;
  background-color: orange;
}

.arguments .container .arguments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 64px;
  margin-right: 64px;
}

.arguments .container .arguments .card {
  border-radius: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 10px;
  padding: 10px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.arguments .container .arguments .argument {
  min-height: 250px;
  border-radius: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 10px;
  padding: 10px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.arguments .container-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.arguments .container-desc .desc-arguments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 64px;
  margin-right: 64px;
}

.arguments .container-desc .desc-arguments .argument {
  min-height: 150px;
  border-radius: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 20px;
  background-color: white;
  color: #000000;
}

.arguments .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments .download .left {
  background-color: #A3DBEF;
  min-width: 44px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 10px;
  height: 75%;
}

.arguments .download .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F29100;
  border-radius: 10px;
  height: 100%;
}

.arguments .download .center .text {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments .download .center .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments .download .right {
  background-color: #A3DBEF;
  min-width: 44px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 10px;
  height: 75%;
}

.mascotte {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mascotte .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mascotte .barra {
  background-color: #F29100;
  border-radius: 10px;
  max-height: 15px;
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.flex10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.flex11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.flex12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}
/*# sourceMappingURL=style.css.map */