* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    margin: auto;
}

.head{
    border-radius: 20px;
    background-color: #F29100;
}

.testo{
    border-radius: 20px;
    background-color: #A3DBEF;
}