* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    // background-color: #F29100;
    div {
        background-color: $secondary;
    }
}

.head {
    border-radius: 20px;
    background-color: #F29100;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descrizione {
    background-color: #A3DBEF;
}

.testo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.titolo {
    margin-bottom: 5px;
    margin-top: 15px;
}