.footer {
  height: 530px;

  .logo {
    background-color: #A3DBEF;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
  }

  .container-mappa {
    background-color: #F29100;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mappa {
    border-radius: 20px;
    margin: 10px;
  }

  .seconda_colonna {
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    .primo_riquadro {
      background-color: lightskyblue;
      justify-content: center;
      text-align: center;
      border-radius: 20px;
      margin-bottom: 10px;

      .social-container {
        @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

        $timing: 300ms;

        // $iconColor_instagram: #7e43c8;
        // $accent_instagram: #feda80;
        $iconColor2_instagram: #4b63d4;
        $iconColor_facebook: #43609C;
        $accent_facebook: #43609C;
        $bluefade: #0043E0;
        $gradient: #00B5F5;

        @mixin transformScale($size: 1) {
          transform: scale($size);
          -ms-transform: scale($size);
          -webkit-transform: scale($size);
        }

        .social-container {
          width: 400px;
          margin: 35vh auto;
          text-align: center;
        }

        .social-icons {
          padding: 0;
          list-style: none;
          // margin: 1em;
          zoom: 2;

          .fa-facebook {
            left: 25px;
          }

          li {
            display: inline-block;
            // margin: 0.15em;
            position: relative;
            font-size: 1.2em;

          }

          i {
            color: #fff;
            position: absolute;
            top: 21px;
            left: 21px;
            transition: all $timing ease-out;
          }

          a {
            display: inline-block;

            &:before {
              @include transformScale();
              content: " ";
              width: 60px;
              height: 60px;
              border-radius: 100%;
              display: block;
              // background: linear-gradient(45deg, $iconColor, $accent);
              transition: all $timing ease-in;
            }

            &:hover:before {
              transform: scale(2);
              // background: linear-gradient($iconColor, $accent);
              // // transition: all $timing ease-in;
            }

            &:hover .fa-instagram {
              @include transformScale(2);
              // color: $iconColor_instagram;
              background-image: url(../images/Instagram_icon.png);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all $timing ease-in;
            }

            &:hover .fa-facebook {
              @include transformScale(2);
              color: $iconColor_facebook;
              background: image(../images/Instagram_icon.png);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all $timing ease-in;
            }
          }

        }
      }
    }

    .secondo_riquadro {
      background-color: lightgreen;
      justify-content: center;
      text-align: center;
      border-radius: 20px;
    }
  }

  .terza_colonna {
    background-color: cyan;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .quarta_colonna {
    // background-color: green;
    border-radius: 20px;
    margin-left: 10px;
  }

  .textbox {
    width: 85%;
    height: auto;
    margin: 10px;
    // text-align: center;
    // justify-content: center;
    border-radius: 20px;
  }

  .logo_contatti {
    background-color: #A3DBEF;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contatti {
    background-color: #F29100;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 10px;
    // margin-left: 10px;
    margin-bottom: 10px;
  }

  .align {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}