.p-jumbotrom {
    padding: 15px;
    background-color: $primary;
}
.jumbotron {
    height: calc(100vh - 15px);
    width: 100%;
    background-image: url("images/Back.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

    .hippo {
        position: absolute;
        background-color: transparent;
		z-index: 1;
        height: 80%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        img {
            background-color: transparent;
            height: 100%;
        }
    }
    .fish {
        background-image: url('images/FishBlue.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: transparent;
        height: 5%;
        width: 5%;
        position: absolute;
        overflow: hidden;
    }
}

.waves {
    width: 100%;
    background-color: $secondary;
    img {
        width: 100%;
    }
}

@keyframes move {
    0% {
    }
    100% {
        bottom: 70%;
        right: 70%;
    }
}
