.mascotte {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
	.mascotte_title {
		font-size: 40px;
		text-align: center;
	}
	.text {
		display: flex;
		justify-content: center;
	}
	.barra {
		background-color: #f29100;
		border-radius: 10px;
		max-height: 15px;
	}
	.mascotte_descrizione {
		text-align: center;
		padding-bottom: 20px;
	}

	.flex_row {
		margin-left: 5%;
		margin-right: 5%;
		.ippo {
			min-height: 250px;
			border-radius: 10px;
			flex: 3;
            padding: 10px;
            display: flex;
            justify-content: center;
		}
	}

	.testi_mascotte {
		margin-left: 5%;
		margin-right: 5%;
		.text_ippo {
            text-align: justify;
            flex: 3;
			text-align: center;
			justify-content: center;
		}

		.bottone {
			margin-top: 20px;
            flex: 3;
            width: 98%;
			height: 30px;
			border-radius: 20px;
			background-color: #f29100;

			.a {
				text-decoration: none;
				font-weight: bold;
			}

			a:hover {
				color: #0080ff;
			}
		}
	}
}
